.admin_bar_icon {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  transform: translateY(2px); }
  .admin_bar_icon svg {
    width: 100%; }
  @media screen and (max-width: 600px) {
    .admin_bar_wrapper .admin_bar_icon {
      margin-right: 7px;
      width: 22px; } }

.admin_bar_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "BlinkMacSystemFont", -apple-system, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 17px;
  color: white;
  z-index: 100000; }
  .admin_bar_wrapper.admin_bar_sticky {
    position: fixed;
    top: 0;
    left: 0; }
  .admin_bar_wrapper.admin_bar_devmode_enabled {
    padding-top: 4px; }
  .admin_bar_wrapper a {
    margin: 0;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease-out, background .2s ease-out; }
    .admin_bar_wrapper a svg path {
      transition: fill .2s ease-out; }

.admin_bar_devmode {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: url(/cptrigger/resources/images/dev-mode.svg) repeat-x 15px 0; }

.admin_bar_greeting {
  display: none;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap; }
  .admin_bar_mobile .admin_bar_greeting {
    display: flex; }

.admin_bar_user_photo {
  padding-right: 7px;
  width: 23px;
  line-height: 0; }
  .admin_bar_user_photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; }

.admin_bar_links_wrapper {
  flex: 1 1 auto;
  min-width: 1px; }
  .admin_bar_active .admin_bar_links_wrapper {
    overflow: scroll; }

.admin_bar_links {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 0; }
  .admin_bar_mobile .admin_bar_links {
    display: none; }
  .admin_bar_mobile .admin_bar_active .admin_bar_links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 40px;
    min-height: 100%;
    box-sizing: border-box;
    font-size: 1.4em; }
  .admin_bar_links a {
    flex: 0 0 auto;
    color: white; }

.admin_bar_logout {
  display: flex;
  align-items: center;
  align-self: flex-end;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  padding: 0;
  text-align: right;
  font-size: .9em; }
  .admin_bar_logout a {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 9px 25px;
    background-color: transparent;
    color: white; }
    .admin_bar_logout a:hover {
      background-color: #d85b4b; }

.admin_bar_mobile .admin_bar_logout_link {
  display: none; }

.admin_bar_mobile_toggle {
  display: none;
  align-items: center;
  flex: 1 1 auto;
  padding: 12px 25px;
  font-size: 1.1em; }
  .admin_bar_mobile .admin_bar_mobile_toggle {
    display: block; }

.admin_bar_overlay.admin_bar_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  background-color: #d85b4b;
  overflow: auto; }
.admin_bar_overlay > .admin_bar_close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px 25px;
  font-size: 1.1em; }
.admin_bar_overlay.admin_bar_active > .admin_bar_close {
  display: block; }

@media screen and (min-width: 601px) {
  .admin_bar_wrapper {
    font-size: 14px; }
    .admin_bar_wrapper.admin_bar_sticky {
      position: fixed;
      top: 0;
      left: 0; }

  .admin_bar_greeting {
    display: flex; }
    .admin_bar_scroll_links .admin_bar_greeting {
      border-right: 1px solid #505050; }

  .admin_bar_mobile .admin_bar_links {
    display: flex; }
  .admin_bar_scroll_links .admin_bar_links {
    flex-flow: row nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  .admin_bar_links a:hover {
    background-color: white;
    color: #d85b4b; }
    .admin_bar_links a:hover svg path {
      fill: #d85b4b; }

  .admin_bar_logout {
    align-self: stretch;
    font-size: 1em; }
    .admin_bar_logout a {
      padding: 9px 25px; }

  .admin_bar_mobile .admin_bar_logout_link {
    display: flex; }
  .admin_bar_scroll_links .admin_bar_logout_link {
    border-left: 1px solid #505050; }

  .admin_bar_mobile .admin_bar_mobile_toggle {
    display: none; } }
