.admin_bar_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 17px;
  color: white; }
  .admin_bar_wrapper.sticky {
    position: fixed;
    top: 0;
    left: 0; }
  .admin_bar_wrapper.admin_bar_devmode_enabled {
    padding-top: 4px; }
  .admin_bar_wrapper a {
    margin: 0;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease-out, background .2s ease-out; }

.admin_bar_devmode {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: url(/cptrigger/resources/images/dev-mode.svg) repeat-x 15px 0; }

.admin_bar_greeting {
  display: none;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap; }

.admin_bar_links {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex: 1 1 auto;
  padding: 0; }
  .admin_bar_links a {
    flex: 0 0 auto;
    color: white; }
    .admin_bar_links a:hover {
      background-color: white;
      color: #d85b4b; }

.admin_bar_logout {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  padding: 0;
  text-align: right;
  font-size: .9em; }
  .admin_bar_logout a {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 6px 25px;
    background-color: transparent;
    color: white; }
    .admin_bar_logout a:hover {
      background-color: #d85b4b; }

.admin_bar_user_photo, .admin_bar_client_logo {
  padding-right: 7px;
  line-height: 0; }
  .admin_bar_user_photo img, .admin_bar_client_logo img {
    max-width: 100%;
    height: auto; }

.admin_bar_user_photo {
  width: 23px; }
  .admin_bar_user_photo img {
    border-radius: 50%; }

.admin_bar_client_logo {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 50px; }

@media screen and (min-width: 601px) {
  .admin_bar_wrapper {
    font-size: 14px; }
    .admin_bar_wrapper.sticky {
      position: fixed;
      top: 0;
      left: 0; }

  .admin_bar_greeting {
    display: flex; }

  .admin_bar_logout {
    font-size: 1em;
    flex-flow: row wrap; }
    .admin_bar_logout a {
      padding: 6px 25px; } }
