{% import "_includes/forms" as forms %}

{{ forms.colorField({
  'label': 'Highlight Color',
  'id': 'defaultColor',
  'name': 'defaultColor',
  'value': settings.defaultColor ?? '#d85b4b',
  'instructions': 'Color used for highlights and rollovers. This can be overridden if color value is added to the Twig embed tag.',
  }) }}

<hr>

{{ forms.editableTableField({
  'label': 'Custom Links',
  'id': 'customLinks',
  'name': 'customLinks',
  'addRowLabel': 'Add a link',
  'cols': {
    'linkLabel': {
      'heading': 'Label',
      'type': 'singleline',
    },
    'linkUrl': {
      'heading': 'URL',
      'type': 'singleline',
    },
    'adminOnly': {
      'heading': 'Admin only?',
      'type': 'checkbox',
    },
  },
  'rows': settings.customLinks ?? [''],
  'instructions': 'Add your own links to the Admin Bar.'
}) }}